body {
    background-color: black;
	margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
/*
#menu {
    visibility: hidden;
}

#game {
    display: none;
}*/

.menu-item {
    position: absolute;
}

.menu-item-text {
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#ai-services {
    position: absolute;
    color: white;
    z-index: 10;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
    pointer-events: none;
    background-color: white;
    z-index: 10;
}

body {
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#restart {
    display: none;
    position: absolute;
    left: 0;
    color: white;
    background-color: #124191;
    z-index: 20;
}

#restart-text {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#back-menu {
    display: none;
    position: absolute;
    left: 0;
    color: white;
    background-color: #03D0FF;
    z-index: 20;
}

#back-menu-text {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#recording {
    position: absolute;
    color: white;
    overflow-y: auto;
    overflow-x: auto;
}