body {
    background-color: black;
	margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}
/*
#menu {
    visibility: hidden;
}

#game {
    display: none;
}*/

.menu-item {
    position: absolute;
    cursor: pointer;
}

.menu-item-text {
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#ai-services {
    position: absolute;
    color: white;
    z-index: 5;
}

#set-ai {
    position: absolute;
    left: 0;
    color: white;
    background-color: #124191;
    z-index: 5;
    cursor: pointer;
}

#set-ai-text {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#set-ai-start {
    position: absolute;
    left: 0;
    color: white;
    background-color: #03D0FF;
    z-index: 5;
    cursor: pointer;
}

#set-ai-start-text {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
    pointer-events: none;
    background-color: white;
    z-index: 10;
}

body {
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#restart {
    display: none;
    position: absolute;
    left: 0;
    color: white;
    background-color: #124191;
    z-index: 20;
    cursor: pointer;
}

#restart-text {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#back-menu {
    display: none;
    position: absolute;
    left: 0;
    color: white;
    background-color: #03D0FF;
    z-index: 20;
    cursor: pointer;
}

#back-menu-text {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#recording {
    position: absolute;
    color: white;
    overflow-y: auto;
    overflow-x: auto;
}

#contest-versus {
    display: none;
    z-index: 8;
    position: absolute;
}

#contest-versus-player-1 {
    position: absolute;
    color: #ffbf02;
    font-size: 3rem;
    top: 1rem;
    left: 1rem;
}

#contest-versus-player-2 {
    position: absolute;
    color: #d9070a;
    font-size: 3rem;
    top: 7rem;
    left: 1rem;
}